openapi: 3.1.0
info:
  title: DriveSaathi Vehicle Tracking and Management Server API
  description: DriveSaathi Vehicle Tracking and Management Server API documentation.
  contact:
    name: DriveSaathi Support
    url: https://www.drivesaathi.com/
    email: support@drivesaathi.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: "6.9.1"
servers:
  - url: https://api.driversaathi.com/api
    description: Production Server
  - url: https://server.drivesaathi.com/api
    description: Subscription Server
  - url: http://localhost:8082/api
    description: Local Development (8082)
security:
  - BasicAuth: []
  - ApiKey: []
tags:
  - name: Server
    description: Server information
  - name: Session
    description: User session management
  - name: Devices
    description: Device management
  - name: Groups
    description: Group management
  - name: Users
    description: User management
  - name: Permissions
    description: User permissions and other object linking
  - name: Positions
    description: Retrieving raw location information
  - name: Events
    description: Retrieving event information
  - name: Reports
    description: Reports generation
  - name: Notifications
    description: User notifications management
  - name: Geofences
    description: Geofence management
  - name: Commands
    description: Sending commands to devices and stored command management
  - name: Attributes
    description: Computed attributes management
  - name: Drivers
    description: Drivers management
  - name: Maintenance
    description: Maintenance management
  - name: Trips
    description: Trip management and tracking
  - name: Calendars
    description: Calendar management
  - name: Statistics
    description: Retrieving server statistics
paths:
  /commands:
    get:
      summary: Fetch a list of Saved Commands
      tags:
        - Commands
      description: Without params, it returns a list of Saved Commands the user has access to
      parameters:
        - name: all
          in: query
          description: Can only be used by admins or managers to fetch all entities
          schema:
            type: boolean
        - name: userId
          in: query
          description: Standard users can use this only with their own _userId_
          schema:
            type: integer
        - name: deviceId
          in: query
          description: Standard users can use this only with _deviceId_s, they have access to
          schema:
            type: integer
        - name: groupId
          in: query
          description: >-
            Standard users can use this only with _groupId_s, they have access
            to
          schema:
            type: integer
        - name: refresh
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Command"
    post:
      summary: Create a Saved Command
      tags:
        - Commands
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Command"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Command"
      x-codegen-request-body-name: body
  /commands/{id}:
    put:
      summary: Update a Saved Command
      tags:
        - Commands
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Command"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Command"
      x-codegen-request-body-name: body
    delete:
      summary: Delete a Saved Command
      tags:
        - Commands
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
  /commands/send:
    get:
      summary: Fetch a list of Saved Commands supported by Device at the moment
      description: >-
        Return a list of saved commands linked to Device and its groups,
        filtered by current Device protocol support
      tags:
        - Commands
      parameters:
        - name: deviceId
          in: query
          description: >-
            Standard users can use this only with _deviceId_s, they have access
            to
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Command"
        "400":
          description: Could happen when the user doesn't have permission for the device
          content: {}
    post:
      summary: Dispatch commands to device
      description: Dispatch a new command or Saved Command if _body.id_ set
      tags:
        - Commands
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Command"
        required: true
      responses:
        "200":
          description: Command sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Command"
        "202":
          description: Command queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Command"
        "400":
          description: >-
            Could happen when the user doesn't have permission or an incorrect
            command _type_ for the device
          content: {}
      x-codegen-request-body-name: body
  /commands/types:
    get:
      summary: >-
        Fetch a list of available Commands for the Device or all possible
        Commands if Device ommited
      tags:
        - Commands
      parameters:
        - name: deviceId
          in: query
          description: >-
            Internal device identifier. Only works if device has already
            reported some locations
          schema:
            type: integer
        - name: protocol
          in: query
          description: Protocol name. Can be used instead of device id
          schema:
            type: string
        - name: textChannel
          in: query
          description: >-
            When `true` return SMS commands. If not specified or `false` return
            data commands
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CommandType"
        "400":
          description: >-
            Could happen when trying to fetch from a device the user does not
            have permission
          content: {}
  /devices:
    get:
      summary: Fetch a list of Devices
      description: Without any params, returns a list of the user's devices
      tags:
        - Devices
      parameters:
        - name: all
          in: query
          description: Can only be used by admins or managers to fetch all entities
          schema:
            type: boolean
        - name: userId
          in: query
          description: Standard users can use this only with their own _userId_
          schema:
            type: integer
        - name: id
          in: query
          description: >-
            To fetch one or more devices. Multiple params can be passed like
            `id=31&id=42`
          schema:
            type: integer
        - name: uniqueId
          in: query
          description: >-
            To fetch one or more devices. Multiple params can be passed like
            `uniqueId=333331&uniqieId=44442`
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Device"
        "400":
          description: No permission
          content: {}
    post:
      summary: Create a Device
      tags:
        - Devices
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Device"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
      x-codegen-request-body-name: body
  /devices/{id}:
    put:
      summary: Update a Device
      tags:
        - Devices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Device"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
      x-codegen-request-body-name: body
    delete:
      summary: Delete a Device
      tags:
        - Devices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
  /devices/{id}/accumulators:
    put:
      summary: Update total distance and hours of the Device
      tags:
        - Devices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceAccumulators"
        required: true
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: body
  /groups:
    get:
      summary: Fetch a list of Groups
      description: Without any params, returns a list of the Groups the user belongs to
      tags:
        - Groups
      parameters:
        - name: all
          in: query
          description: Can only be used by admins or managers to fetch all entities
          schema:
            type: boolean
        - name: userId
          in: query
          description: Standard users can use this only with their own _userId_
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Group"
    post:
      summary: Create a Group
      tags:
        - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Group"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "400":
          description: No permission
          content: {}
      x-codegen-request-body-name: body
  /groups/{id}:
    put:
      summary: Update a Group
      tags:
        - Groups
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Group"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
      x-codegen-request-body-name: body
    delete:
      summary: Delete a Group
      tags:
        - Groups
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
  /permissions:
    post:
      summary: Link an Object to another Object
      description: >-
        Create a permission link between two objects. This endpoint is used to establish relationships 
        such as assigning devices to users, linking drivers to devices, connecting geofences to groups, etc.


        **Common Permission Patterns:**


        **User Permissions:**
        - User → Device: Give user access to a device
        - User → Group: Give user access to a group
        - User → Driver: Give user access to a driver
        - User → Geofence: Give user access to a geofence
        - User → Calendar: Link calendar to a user
        - User → Notification: Link notification to a user
        - User → Command: Give user access to a saved command
        - User → Attribute: Link computed attribute to a user
        - User → Maintenance: Link maintenance to a user
        - User → User: Manager relationship (first user manages second user)


        **Device Permissions:**
        - Device → Driver: Assign driver to a device
        - Device → Geofence: Link geofence to a device
        - Device → Notification: Link notification to a device
        - Device → Command: Link saved command to a device
        - Device → Attribute: Link computed attribute to a device
        - Device → Maintenance: Link maintenance schedule to a device


        **Group Permissions:**
        - Group → Driver: Assign driver to a group
        - Group → Geofence: Link geofence to a group
        - Group → Notification: Link notification to a group
        - Group → Command: Link saved command to a group
        - Group → Attribute: Link computed attribute to a group
        - Group → Maintenance: Link maintenance to a group
      tags:
        - Permissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Permission"
            examples:
              userDevice:
                summary: Link User to Device
                description: Give a user access to a specific device
                value:
                  userId: 5
                  deviceId: 123
              userGroup:
                summary: Link User to Group
                description: Give a user access to a group of devices
                value:
                  userId: 5
                  groupId: 10
              userDriver:
                summary: Link User to Driver
                description: Give a user access to a driver profile
                value:
                  userId: 5
                  driverId: 42
              userGeofence:
                summary: Link User to Geofence
                description: Give a user access to a geofence
                value:
                  userId: 5
                  geofenceId: 78
              deviceDriver:
                summary: Link Device to Driver
                description: Assign a driver to a specific device
                value:
                  deviceId: 123
                  driverId: 42
              deviceGeofence:
                summary: Link Device to Geofence
                description: Associate a geofence with a device
                value:
                  deviceId: 123
                  geofenceId: 78
              deviceNotification:
                summary: Link Device to Notification
                description: Enable notifications for a device
                value:
                  deviceId: 123
                  notificationId: 15
              deviceCommand:
                summary: Link Device to Command
                description: Make a saved command available for a device
                value:
                  deviceId: 123
                  commandId: 30
              deviceAttribute:
                summary: Link Device to Computed Attribute
                description: Apply a computed attribute to a device
                value:
                  deviceId: 123
                  attributeId: 8
              deviceMaintenance:
                summary: Link Device to Maintenance
                description: Assign a maintenance schedule to a device
                value:
                  deviceId: 123
                  maintenanceId: 20
              groupDriver:
                summary: Link Group to Driver
                description: Assign a driver to all devices in a group
                value:
                  groupId: 10
                  driverId: 42
              groupGeofence:
                summary: Link Group to Geofence
                description: Associate a geofence with a group
                value:
                  groupId: 10
                  geofenceId: 78
              groupNotification:
                summary: Link Group to Notification
                description: Enable notifications for a group
                value:
                  groupId: 10
                  notificationId: 15
              groupCommand:
                summary: Link Group to Command
                description: Make a saved command available for a group
                value:
                  groupId: 10
                  commandId: 30
              groupAttribute:
                summary: Link Group to Computed Attribute
                description: Apply a computed attribute to a group
                value:
                  groupId: 10
                  attributeId: 8
              groupMaintenance:
                summary: Link Group to Maintenance
                description: Assign a maintenance schedule to a group
                value:
                  groupId: 10
                  maintenanceId: 20
              userCalendar:
                summary: Link User to Calendar
                description: Associate a calendar with a user
                value:
                  userId: 5
                  calendarId: 3
              userNotification:
                summary: Link User to Notification
                description: Enable notifications for a user
                value:
                  userId: 5
                  notificationId: 15
              userCommand:
                summary: Link User to Command
                description: Give user access to a saved command
                value:
                  userId: 5
                  commandId: 30
              userAttribute:
                summary: Link User to Computed Attribute
                description: Give user access to a computed attribute
                value:
                  userId: 5
                  attributeId: 8
              userMaintenance:
                summary: Link User to Maintenance
                description: Give user access to a maintenance schedule
                value:
                  userId: 5
                  maintenanceId: 20
              managerUser:
                summary: Link Manager to User
                description: Create a manager relationship (first user manages second)
                value:
                  userId: 3
                  managedUserId: 5
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: No permission
          content: {}
      x-codegen-request-body-name: body
    delete:
      summary: Unlink an Object from another Object
      description: >-
        Remove a permission link between two objects. This is the reverse operation of POST /permissions.
        Use the same request body format as the POST request to remove the relationship.
      tags:
        - Permissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Permission"
            examples:
              unlinkUserDevice:
                summary: Unlink User from Device
                description: Remove user's access to a device
                value:
                  userId: 5
                  deviceId: 123
              unlinkDeviceDriver:
                summary: Unlink Device from Driver
                description: Remove driver assignment from a device
                value:
                  deviceId: 123
                  driverId: 42
              unlinkGroupDriver:
                summary: Unlink Group from Driver
                description: Remove driver from a group
                value:
                  groupId: 10
                  driverId: 42
        required: true
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: body
  /positions:
    get:
      summary: Fetches a list of Positions
      description: >-
        We strongly recommend using [Traccar WebSocket
        API](https://www.traccar.org/traccar-api/) instead of periodically
        polling positions endpoint. Without any params, it returns a list of
        last known positions for all the user's Devices. _from_ and _to_ fields
        are not required with _id_.
      tags:
        - Positions
      parameters:
        - name: deviceId
          in: query
          description: >-
            _deviceId_ is optional, but requires the _from_ and _to_ parameters
            when used
          schema:
            type: integer
        - name: from
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          schema:
            type: string
            format: date-time
        - name: id
          in: query
          description: >-
            To fetch one or more positions. Multiple params can be passed like
            `id=31&id=42`
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Position"
            text/csv:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Position"
            application/gpx+xml:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Position"
    delete:
      summary: Deletes all the Positions of a device in the time span specified
      description: ""
      tags:
        - Positions
      parameters:
        - name: deviceId
          in: query
          description: ""
          schema:
            type: integer
          required: true
        - name: from
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          schema:
            type: string
            format: date-time
          required: true
        - name: to
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          schema:
            type: string
            format: date-time
          required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content: {}
  /positions/{id}:
    delete:
      summary: Delete a Position
      tags:
        - Positions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
        "404":
          description: Not Found
          content: {}
  /server:
    get:
      summary: Fetch Server information
      tags:
        - Server
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Server"
    put:
      summary: Update Server information
      tags:
        - Server
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Server"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Server"
      x-codegen-request-body-name: body
  /session:
    get:
      summary: Fetch Session information
      tags:
        - Session
      parameters:
        - name: token
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "404":
          description: Not Found
          content: {}
    post:
      summary: Create a new Session
      description: Login with email and password using form-urlencoded format.
      tags:
        - Session
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                code:
                  type: integer
                  description: TOTP code for two-factor authentication (if enabled)
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Unauthorized - Invalid credentials or missing TOTP code
          content: {}
    delete:
      summary: Close the Session
      tags:
        - Session
      responses:
        "204":
          description: No Content
          content: {}
  /session/openid/auth:
    get:
      summary: Fetch Session information
      tags:
        - Session
      responses:
        "303":
          description: Redirect to OpenID Connect identity provider
          content: {}
  /session/openid/callback:
    get:
      summary: OpenID Callback
      tags:
        - Session
      responses:
        "303":
          description: Successful authentication, redirect to homepage
          content: {}
  /users:
    get:
      summary: Fetch a list of Users
      tags:
        - Users
      parameters:
        - name: userId
          in: query
          description: Can only be used by admin or manager users
          schema:
            type: integer
            format: int64
        - name: deviceId
          in: query
          description: Can only be used by managers to fetch users with access to this device
          schema:
            type: integer
            format: int64
        - name: excludeAttributes
          in: query
          description: Exclude attributes field from the response
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
        "400":
          description: No Permission
          content: {}
    post:
      summary: Create a User
      tags:
        - Users
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
      x-codegen-request-body-name: body
  /users/{id}:
    put:
      summary: Update a User
      tags:
        - Users
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
      x-codegen-request-body-name: body
    delete:
      summary: Delete a User
      tags:
        - Users
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
  /users/totp:
    post:
      summary: Generate TOTP Key
      description: Generate a Time-based One-Time Password key for two-factor authentication
      tags:
        - Users
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
                description: TOTP key string
        "400":
          description: TOTP is disabled
          content: {}
  /notifications:
    get:
      summary: Fetch a list of Notifications
      description: >-
        Without params, it returns a list of Notifications the user has access
        to
      tags:
        - Notifications
      parameters:
        - name: all
          in: query
          description: Can only be used by admins or managers to fetch all entities
          schema:
            type: boolean
        - name: userId
          in: query
          description: Standard users can use this only with their own _userId_
          schema:
            type: integer
        - name: deviceId
          in: query
          description: >-
            Standard users can use this only with _deviceId_s, they have access
            to
          schema:
            type: integer
        - name: groupId
          in: query
          description: >-
            Standard users can use this only with _groupId_s, they have access
            to
          schema:
            type: integer
        - name: refresh
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Notification"
    post:
      summary: Create a Notification
      tags:
        - Notifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Notification"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
      x-codegen-request-body-name: body
  /notifications/{id}:
    put:
      summary: Update a Notification
      tags:
        - Notifications
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Notification"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
      x-codegen-request-body-name: body
    delete:
      summary: Delete a Notification
      tags:
        - Notifications
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
  /notifications/types:
    get:
      summary: Fetch a list of available Notification types
      tags:
        - Notifications
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NotificationType"
  /notifications/test:
    post:
      summary: Send test notification to current user via Email and SMS
      tags:
        - Notifications
      responses:
        "204":
          description: Successful sending
          content: {}
        "400":
          description: Could happen if sending has failed
          content: {}
  /geofences:
    get:
      summary: Fetch a list of Geofences
      description: Without params, it returns a list of Geofences the user has access to
      tags:
        - Geofences
      parameters:
        - name: all
          in: query
          description: Can only be used by admins or managers to fetch all entities
          schema:
            type: boolean
        - name: userId
          in: query
          description: Standard users can use this only with their own _userId_
          schema:
            type: integer
        - name: deviceId
          in: query
          description: >-
            Standard users can use this only with _deviceId_s, they have access
            to
          schema:
            type: integer
        - name: groupId
          in: query
          description: >-
            Standard users can use this only with _groupId_s, they have access
            to
          schema:
            type: integer
        - name: refresh
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Geofence"
    post:
      summary: Create a Geofence
      tags:
        - Geofences
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Geofence"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Geofence"
      x-codegen-request-body-name: body
  /geofences/{id}:
    put:
      summary: Update a Geofence
      tags:
        - Geofences
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Geofence"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Geofence"
      x-codegen-request-body-name: body
    delete:
      summary: Delete a Geofence
      tags:
        - Geofences
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
  /events/{id}:
    get:
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
  /reports/route:
    get:
      summary: >-
        Fetch a list of Positions within the time period for the Devices or
        Groups
      description: At least one _deviceId_ or one _groupId_ must be passed
      tags:
        - Reports
      parameters:
        - name: deviceId
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: groupId
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: from
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Position"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Position"
  /reports/events:
    get:
      summary: Fetch a list of Events within the time period for the Devices or Groups
      description: At least one _deviceId_ or one _groupId_ must be passed
      tags:
        - Reports
      parameters:
        - name: deviceId
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: groupId
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: type
          in: query
          description: "% can be used to return events of all types"
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: from
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
  /reports/summary:
    get:
      summary: >-
        Fetch a list of ReportSummary within the time period for the Devices or
        Groups
      description: At least one _deviceId_ or one _groupId_ must be passed
      tags:
        - Reports
      parameters:
        - name: deviceId
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: groupId
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: from
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReportSummary"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReportSummary"
  /reports/trips:
    get:
      summary: >-
        Fetch a list of ReportTrips within the time period for the Devices or
        Groups
      description: At least one _deviceId_ or one _groupId_ must be passed
      tags:
        - Reports
      parameters:
        - name: deviceId
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: groupId
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: from
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReportTrips"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReportTrips"
  /reports/stops:
    get:
      summary: >-
        Fetch a list of ReportStops within the time period for the Devices or
        Groups
      description: At least one _deviceId_ or one _groupId_ must be passed
      tags:
        - Reports
      parameters:
        - name: deviceId
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: groupId
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: from
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReportStops"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReportStops"
  /statistics:
    get:
      summary: Fetch server Statistics
      tags:
        - Statistics
      parameters:
        - name: from
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Statistics"
  /calendars:
    get:
      summary: Fetch a list of Calendars
      description: Without params, it returns a list of Calendars the user has access to
      tags:
        - Calendars
      parameters:
        - name: all
          in: query
          description: Can only be used by admins or managers to fetch all entities
          schema:
            type: boolean
        - name: userId
          in: query
          description: Standard users can use this only with their own _userId_
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Calendar"
    post:
      summary: Create a Calendar
      tags:
        - Calendars
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Calendar"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Calendar"
      x-codegen-request-body-name: body
  /calendars/{id}:
    put:
      summary: Update a Calendar
      tags:
        - Calendars
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Calendar"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Calendar"
      x-codegen-request-body-name: body
    delete:
      summary: Delete a Calendar
      tags:
        - Calendars
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
  /attributes/computed:
    get:
      summary: Fetch a list of Attributes
      description: Without params, it returns a list of Attributes the user has access to
      tags:
        - Attributes
      parameters:
        - name: all
          in: query
          description: Can only be used by admins or managers to fetch all entities
          schema:
            type: boolean
        - name: userId
          in: query
          description: Standard users can use this only with their own _userId_
          schema:
            type: integer
        - name: deviceId
          in: query
          description: >-
            Standard users can use this only with _deviceId_s, they have access
            to
          schema:
            type: integer
        - name: groupId
          in: query
          description: >-
            Standard users can use this only with _groupId_s, they have access
            to
          schema:
            type: integer
        - name: refresh
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Attribute"
    post:
      summary: Create an Attribute
      tags:
        - Attributes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Attribute"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attribute"
      x-codegen-request-body-name: body
  /attributes/computed/{id}:
    put:
      summary: Update an Attribute
      tags:
        - Attributes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Attribute"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attribute"
      x-codegen-request-body-name: body
    delete:
      summary: Delete an Attribute
      tags:
        - Attributes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
  /drivers:
    get:
      summary: Fetch a list of Drivers
      description: Without params, it returns a list of Drivers the user has access to
      tags:
        - Drivers
      parameters:
        - name: all
          in: query
          description: Can only be used by admins or managers to fetch all entities
          schema:
            type: boolean
        - name: userId
          in: query
          description: Standard users can use this only with their own _userId_
          schema:
            type: integer
        - name: deviceId
          in: query
          description: >-
            Standard users can use this only with _deviceId_s, they have access
            to
          schema:
            type: integer
        - name: groupId
          in: query
          description: >-
            Standard users can use this only with _groupId_s, they have access
            to
          schema:
            type: integer
        - name: refresh
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Driver"
    post:
      summary: Create a Driver
      tags:
        - Drivers
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Driver"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Driver"
      x-codegen-request-body-name: body
  /drivers/{id}:
    put:
      summary: Update a Driver
      tags:
        - Drivers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Driver"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Driver"
      x-codegen-request-body-name: body
    delete:
      summary: Delete a Driver
      tags:
        - Drivers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
  /maintenance:
    get:
      summary: Fetch a list of Maintenance
      description: Without params, it returns a list of Maintenance the user has access to
      tags:
        - Maintenance
      parameters:
        - name: all
          in: query
          description: Can only be used by admins or managers to fetch all entities
          schema:
            type: boolean
        - name: userId
          in: query
          description: Standard users can use this only with their own _userId_
          schema:
            type: integer
        - name: deviceId
          in: query
          description: >-
            Standard users can use this only with _deviceId_s, they have access
            to
          schema:
            type: integer
        - name: groupId
          in: query
          description: >-
            Standard users can use this only with _groupId_s, they have access
            to
          schema:
            type: integer
        - name: refresh
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Maintenance"
    post:
      summary: Create a Maintenance
      tags:
        - Maintenance
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Maintenance"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Maintenance"
      x-codegen-request-body-name: body
  /maintenance/{id}:
    put:
      summary: Update a Maintenance
      tags:
        - Maintenance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Maintenance"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Maintenance"
      x-codegen-request-body-name: body
    delete:
      summary: Delete a Maintenance
      tags:
        - Maintenance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
  /trips:
    get:
      summary: Fetch a list of Trips
      description: Without params, it returns a list of Trips the user has access to
      tags:
        - Trips
      parameters:
        - name: all
          in: query
          description: Can only be used by admins or managers to fetch all entities
          schema:
            type: boolean
        - name: userId
          in: query
          description: Standard users can use this only with their own _userId_
          schema:
            type: integer
        - name: deviceId
          in: query
          description: >-
            Standard users can use this only with _deviceId_s, they have access
            to
          schema:
            type: integer
        - name: groupId
          in: query
          description: >-
            Standard users can use this only with _groupId_s, they have access
            to
          schema:
            type: integer
        - name: refresh
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          description: Maximum number of results to return (default 100)
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Number of results to skip for pagination (default 0)
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Trip"
    post:
      summary: Create a Trip
      tags:
        - Trips
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Trip"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trip"
      x-codegen-request-body-name: body
  /trips/{id}:
    get:
      summary: Fetch a single Trip by ID
      tags:
        - Trips
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trip"
        "404":
          description: Trip not found
          content: {}
    put:
      summary: Update a Trip
      tags:
        - Trips
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Trip"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trip"
      x-codegen-request-body-name: body
    delete:
      summary: Delete a Trip
      tags:
        - Trips
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
          content: {}
  /trips/byDeviceUniqueId:
    get:
      summary: Get trips by device unique ID (IMEI)
      description: Query trips using device IMEI/unique ID instead of internal database ID. Useful when you don't know the deviceId.
      tags:
        - Trips
      parameters:
        - name: deviceUniqueId
          in: query
          required: true
          description: Device IMEI/unique ID (REQUIRED)
          schema:
            type: string
        - name: all
          in: query
          description: Return all trips (admin only)
          schema:
            type: boolean
        - name: userId
          in: query
          description: Filter by user ID
          schema:
            type: integer
        - name: groupId
          in: query
          description: Filter by group ID
          schema:
            type: integer
        - name: excludeAttributes
          in: query
          description: Exclude attributes field
          schema:
            type: boolean
      responses:
        "200":
          description: List of trips for the device
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Trip"
  /trips/withPosition:
    get:
      summary: Get trips WITH real-time position data (⚠️ SLOWER)
      description: "⚠️ PERFORMANCE WARNING: Adds database queries per trip. Returns currentLatitude, currentLongitude, currentSpeed, distanceCovered. Use for real-time dashboards only, not bulk operations."
      tags:
        - Trips
      parameters:
        - name: all
          in: query
          description: Return all trips (admin only)
          schema:
            type: boolean
        - name: userId
          in: query
          description: Filter by user ID
          schema:
            type: integer
        - name: groupId
          in: query
          description: Filter by group ID
          schema:
            type: integer
        - name: deviceId
          in: query
          description: Filter by device ID
          schema:
            type: integer
        - name: excludeAttributes
          in: query
          description: Exclude attributes field
          schema:
            type: boolean
      responses:
        "200":
          description: List of trips enriched with real-time position data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Trip"
  /trips/{id}/complete:
    post:
      summary: Complete a trip
      description: "Mark trip as completed. Sets tripStatus='completed', records completion timestamp and final position, calculates total trip time. User must have device permission. For completed trips, GET endpoints return null for transient position fields."
      tags:
        - Trips
      parameters:
        - name: id
          in: path
          required: true
          description: Trip ID to complete
          schema:
            type: integer
            format: int64
        - name: notes
          in: query
          required: false
          description: Optional completion notes/remarks (max 1000 characters)
          schema:
            type: string
            maxLength: 1000
      responses:
        "200":
          description: Trip completed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trip"
        "400":
          description: Trip already completed or cancelled
          content: {}
        "403":
          description: No permission to complete this trip
          content: {}
        "404":
          description: Trip not found
          content: {}
  /vehicleData:
    post:
      summary: Fetch Vehicle Data
      description: Returns detailed vehicle data filtered by company names, vehicle numbers, or IMEI numbers. If no filters are provided, returns data for all accessible devices.
      tags:
        - Devices
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VehicleDataRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehicleDataResponse"
      x-codegen-request-body-name: body
components:
  schemas:
    Position:
      type: object
      properties:
        id:
          type: integer
          format: int64
        deviceId:
          type: integer
          format: int64
        protocol:
          type: string
        deviceTime:
          type: string
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
        fixTime:
          type: string
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
        serverTime:
          type: string
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
        valid:
          type: boolean
        latitude:
          type: number
        longitude:
          type: number
        altitude:
          type: number
        speed:
          type: number
          description: in knots
        course:
          type: number
        address:
          type: string
        accuracy:
          type: number
        network:
          type: object
          properties: {}
        geofenceIds:
          type: array
          items:
            type: integer
        attributes:
          type: object
          properties: {}
    User:
      type: object
      required:
        - name
        - email
        - password
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        login:
          type: string
        email:
          type: string
        phone:
          type: string
          nullable: true
        readonly:
          type: boolean
        administrator:
          type: boolean
        map:
          type: string
          nullable: true
        latitude:
          type: number
        longitude:
          type: number
        zoom:
          type: integer
        password:
          type: string
          writeOnly: true
        coordinateFormat:
          type: string
          nullable: true
        disabled:
          type: boolean
        expirationTime:
          type: string
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
          nullable: true
        deviceLimit:
          type: integer
        userLimit:
          type: integer
        deviceReadonly:
          type: boolean
        limitCommands:
          type: boolean
        disableReports:
          type: boolean
        fixedEmail:
          type: boolean
        poiLayer:
          type: string
          nullable: true
        totpKey:
          type: string
          nullable: true
        temporary:
          type: boolean
        vehicleValidationAccess:
          type: boolean
        attributes:
          type: object
          properties: {}
    Server:
      type: object
      properties:
        id:
          type: integer
          format: int64
        registration:
          type: boolean
        readonly:
          type: boolean
        deviceReadonly:
          type: boolean
        limitCommands:
          type: boolean
        map:
          type: string
        bingKey:
          type: string
        mapUrl:
          type: string
        poiLayer:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        zoom:
          type: integer
        version:
          type: string
        forceSettings:
          type: boolean
        coordinateFormat:
          type: string
        openIdEnabled:
          type: boolean
        openIdForce:
          type: boolean
        attributes:
          type: object
          properties: {}
    Command:
      type: object
      properties:
        id:
          type: integer
          format: int64
        deviceId:
          type: integer
          format: int64
        description:
          type: string
        type:
          type: string
        attributes:
          type: object
          properties: {}
    Device:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          example: "KA35B5004"
          description: "Asset name/identifier"
        uniqueId:
          type: string
          example: "KA35B5004"
          description: "Unique identifier for the device/asset"
        status:
          type: string
        disabled:
          type: boolean
        lastUpdate:
          type: string
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
          nullable: true
        positionId:
          type: integer
          format: int64
          nullable: true
        groupId:
          type: integer
          format: int64
          nullable: true
          description: "Entity/Group ID (e.g., for KATARIA_MOVERS_BANG-DEDICATED)"
          example: 1
        phone:
          type: string
          nullable: true
        model:
          type: string
          nullable: true
        contact:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
        attributes:
          type: object
          properties:
            assetType:
              type: string
              description: Type of asset/vehicle
              example: "HEAVY VEHICLE"
            assetIconType:
              type: string
              description: Icon type for asset display
              example: "TRUCK"
              enum:
                [
                  TRUCK,
                  ARROW,
                  BIKE,
                  BUS,
                  CAR,
                  CCCAMERA,
                  DOZER,
                  DUMPER,
                  FIREBRIGADE,
                  FIREBRIGADE-B,
                  FIREBRIGADE-X,
                  FORKLIFT,
                  GARBAGE,
                  GASTANKER,
                  HYVA,
                  LOCO,
                  MIXER,
                  MILKTANKER,
                  OILTANKER,
                  SHIP,
                  TRAILER,
                  USER,
                  VISITOR,
                  WATER-TANKER,
                  TRACTORTROLLEY,
                  EXCAVATOR,
                  AMBULANCE,
                  LOADER,
                  ROADGRADER,
                  JCB,
                  DRILL,
                  BOLERO,
                  CAMPER,
                  SERVICEVAN,
                  AUTOAPE,
                  AUTORICKSHAW,
                ]
            gatePassValidity:
              type: string
              description: Gate pass validity date in DD-MM-YYYY format
              example: "N/A"
            assetCapacity:
              type: string
              description: Asset capacity
              example: "NA"
            assetMake:
              type: string
              description: Manufacturer of the asset
              example: "N/A"
            assetModel:
              type: string
              description: Model of the asset
              example: "N/A"
            batteryVolt:
              type: string
              description: Battery voltage
              example: "N/A"
            fuelType:
              type: string
              description: Type of fuel used
              example: "N/A"
            pollutionCertValidity:
              type: string
              description: Pollution certificate validity date in DD-MM-YYYY format
              example: "N/A"
            fitnessCertValidity:
              type: string
              description: Fitness certificate validity date in DD-MM-YYYY format
              example: "29-02-2024"
            manufacturingYear:
              type: string
              description: Year of manufacturing
              example: "NA"
            registrationDate:
              type: string
              description: Registration date in DD-MM-YYYY format
              example: "05-10-2015"
            insuranceValidity:
              type: string
              description: Insurance validity date in DD-MM-YYYY format
              example: "26-02-2023"
            transporterName:
              type: string
              description: Associated transporter name
              example: "NA"
            batteryPurchase:
              type: string
              description: Battery purchase date in DD-MM-YYYY format
              example: "N/A"
            batteryExpiry:
              type: string
              description: Battery expiry date in DD-MM-YYYY format
              example: "N/A"
            standardKmDay:
              type: string
              description: Standard kilometers per day
              example: "N/A"
            pesoLicense:
              type: string
              description: PESO license validity date in DD-MM-YYYY format
              example: "N/A"
            rule18:
              type: string
              description: Rule 18 validity date in DD-MM-YYYY format
              example: "N/A"
            rule19:
              type: string
              description: Rule 19 validity date in DD-MM-YYYY format
              example: "N/A"
            rcValidity:
              type: string
              description: RC validity date in DD-MM-YYYY format
              example: "N/A"
            fndDeviceId:
              type: string
              description: FND Device ID
              example: "N/A"
            siteLocation:
              type: string
              description: Site or location information
              example: "N/A"
            statePermitValidity:
              type: string
              description: State permit validity date in DD-MM-YYYY format
              example: "03-03-2026"
            nationalPermitValidity:
              type: string
              description: National permit validity date in DD-MM-YYYY format
              example: "03-04-2023"
            roadTaxValidity:
              type: string
              description: Road tax validity date in DD-MM-YYYY format
              example: "05-07-2024"
            goodsTaxValidity:
              type: string
              description: Goods tax validity date in DD-MM-YYYY format
              example: "N/A"
            tareWeight:
              type: string
              description: Tare weight in kilograms
              example: "N/A"
            grossWeight:
              type: string
              description: Gross weight in kilograms
              example: "N/A"
            customerRemark:
              type: string
              description: Customer remarks or notes
              example: "N/A"
            setStatus:
              type: string
              description: Status of the asset
              example: "ACTIVE"
              enum: [ACTIVE, INACTIVE]
            pollutionCertFile:
              type: string
              description: Path to pollution certificate file (image)
              example: "device123/pollution.jpg"
            fitnessCertFile:
              type: string
              description: Path to fitness certificate file (image)
              example: "device123/fitness.jpg"
            loadTestCertFile:
              type: string
              description: Path to load test certificate file (image)
              example: "device123/loadtest.jpg"
            insuranceCertFile:
              type: string
              description: Path to insurance certificate file (image)
              example: "device123/insurance.jpg"
            registrationCertFile:
              type: string
              description: Path to registration certificate file (image)
              example: "device123/registration.jpg"
    Group:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          example: "KATARIA_MOVERS_BANG-DEDICATED"
          description: "Entity/Group name (e.g., company name or organization)"
        groupId:
          type: integer
          format: int64
        attributes:
          type: object
          properties: {}
    Permission:
      type: object
      properties:
        userId:
          type: integer
          format: int64
          description: >-
            User ID (first parameter). Can link to: Device, Group, Driver, Geofence, 
            Notification, Calendar, Command, Attribute, Maintenance, or ManagedUser.
        deviceId:
          type: integer
          format: int64
          description: >-
            Device ID. As first parameter: can link to Driver, Geofence, Notification, 
            Command, Attribute, or Maintenance. As second parameter: only with userId.
        groupId:
          type: integer
          format: int64
          description: >-
            Group ID. As first parameter: can link to Driver, Geofence, Notification, 
            Command, Attribute, or Maintenance. As second parameter: only with userId.
        driverId:
          type: integer
          format: int64
          description: >-
            Driver ID (second parameter only). Can be linked from: User, Device, or Group.
        geofenceId:
          type: integer
          format: int64
          description: >-
            Geofence ID (second parameter only). Can be linked from: User, Device, or Group.
        notificationId:
          type: integer
          format: int64
          description: >-
            Notification ID (second parameter only). Can be linked from: User, Device, or Group.
        calendarId:
          type: integer
          format: int64
          description: >-
            Calendar ID (second parameter only). Can only be linked from: User.
        attributeId:
          type: integer
          format: int64
          description: >-
            Computed Attribute ID (second parameter only). Can be linked from: User, Device, or Group.
        commandId:
          type: integer
          format: int64
          description: >-
            Saved Command ID (second parameter only). Can be linked from: User, Device, or Group.
        maintenanceId:
          type: integer
          format: int64
          description: >-
            Maintenance ID (second parameter only). Can be linked from: User, Device, or Group.
        managedUserId:
          type: integer
          format: int64
          description: >-
            Managed User ID (second parameter only). Can only be linked from: User 
            (creates a manager relationship where first user manages second user).
      description: >-
        Permission object for linking two entities. Must contain exactly TWO properties 
        forming an owner → property relationship. Order matters: first property is the 
        "owner" and second is the "property" being linked. 


        Valid owner types (first parameter): User, Device, or Group.

        Valid property types (second parameter): Device, Group, Driver, Geofence, 
        Notification, Calendar, Command, Attribute, Maintenance, or ManagedUser.


        Examples: 

        - {"userId": 5, "deviceId": 123} - User 5 gets access to Device 123

        - {"deviceId": 123, "driverId": 42} - Driver 42 is assigned to Device 123

        - {"groupId": 10, "geofenceId": 78} - Geofence 78 is linked to Group 10
    CommandType:
      type: object
      properties:
        type:
          type: string
    Geofence:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        area:
          type: string
        calendarId:
          type: integer
          format: int64
        attributes:
          type: object
          properties: {}
    Notification:
      type: object
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
        description:
          type: string
          nullable: true
        always:
          type: boolean
        commandId:
          type: integer
          format: int64
        notificators:
          type: string
        calendarId:
          type: integer
          format: int64
        attributes:
          type: object
          properties: {}
    NotificationType:
      type: object
      properties:
        type:
          type: string
    Event:
      type: object
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
        eventTime:
          type: string
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
        deviceId:
          type: integer
          format: int64
        positionId:
          type: integer
          format: int64
        geofenceId:
          type: integer
          format: int64
        maintenanceId:
          type: integer
        attributes:
          type: object
          properties: {}
    ReportSummary:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
        deviceName:
          type: string
        maxSpeed:
          type: number
          description: in knots
        averageSpeed:
          type: number
          description: in knots
        distance:
          type: number
          description: in meters
        spentFuel:
          type: number
          description: in liters
        engineHours:
          type: integer
    ReportTrips:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
        deviceName:
          type: string
        maxSpeed:
          type: number
          description: in knots
        averageSpeed:
          type: number
          description: in knots
        distance:
          type: number
          description: in meters
        spentFuel:
          type: number
          description: in liters
        duration:
          type: integer
        startTime:
          type: string
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
        startAddress:
          type: string
        startLat:
          type: number
        startLon:
          type: number
        endTime:
          type: string
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
        endAddress:
          type: string
        endLat:
          type: number
        endLon:
          type: number
        driverUniqueId:
          type: string
        driverName:
          type: string
    ReportStops:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
        deviceName:
          type: string
        duration:
          type: integer
        startTime:
          type: string
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
        address:
          type: string
        lat:
          type: number
        lon:
          type: number
        endTime:
          type: string
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
        spentFuel:
          type: number
          description: in liters
        engineHours:
          type: integer
    Statistics:
      type: object
      properties:
        captureTime:
          type: string
          description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
        activeUsers:
          type: integer
        activeDevices:
          type: integer
        requests:
          type: integer
        messagesReceived:
          type: integer
        messagesStored:
          type: integer
    DeviceAccumulators:
      type: object
      properties:
        deviceId:
          type: integer
          format: int64
        totalDistance:
          type: number
          description: in meters
        hours:
          type: number
    Calendar:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        data:
          type: string
          description: base64 encoded in iCalendar format
        attributes:
          type: object
          properties: {}
    Attribute:
      type: object
      properties:
        id:
          type: integer
          format: int64
        description:
          type: string
        attribute:
          type: string
        expression:
          type: string
        type:
          type: string
          description: String|Number|Boolean
    Driver:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        uniqueId:
          type: string
        attributes:
          type: object
          properties: {}
    Maintenance:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
        start:
          type: number
        period:
          type: number
        attributes:
          type: object
          properties: {}
    Trip:
      type: object
      required:
        - deviceId
        - originLatitude
        - originLongitude
        - destinationLatitude
        - destinationLongitude
        - etaDate
        - consignorId
        - consigneeId
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        name:
          type: string
          description: Trip name or identifier (optional)
        deviceId:
          type: integer
          format: int64
          description: "Device ID (internal identifier) - can provide either deviceId or deviceUniqueId"
        deviceUniqueId:
          type: string
          description: Device unique identifier (can be used instead of deviceId for creation)
        deviceName:
          type: string
          description: Device name (auto-filled)
          readOnly: true
        assetNumber:
          type: string
          description: Asset number (auto-filled from device uniqueId)
          readOnly: true
        assetType:
          type: string
          description: Type of asset (auto-filled from device attribute 'assetType')
          readOnly: true
        transporterName:
          type: string
          description: Name of the transporter (auto-filled from device's group name)
          readOnly: true
        otherTransporterName:
          type: string
          description: Other transporter name if custom entry needed
        consignorId:
          type: integer
          format: int64
          description: "Consignor user ID (required) - Use actual userId or a special value for 'other'"
        consignorName:
          type: string
          description: Name of the consignor (auto-filled from user if userId provided)
          readOnly: true
        otherConsignorName:
          type: string
          description: Custom consignor name (required if consignorId doesn't match an existing user)
        consigneeId:
          type: integer
          format: int64
          description: "Consignee user ID (required) - Use actual userId or a special value for 'other'"
        consigneeName:
          type: string
          description: Name of the consignee (auto-filled from user if userId provided)
          readOnly: true
        otherConsigneeName:
          type: string
          description: Custom consignee name (required if consigneeId doesn't match an existing user)
        consigneePincode:
          type: string
          description: Consignee postal code
        originLatitude:
          type: number
          format: double
          description: Origin latitude coordinate
        originLongitude:
          type: number
          format: double
          description: Origin longitude coordinate
        originAddress:
          type: string
          description: Origin address (optional)
        destinationLatitude:
          type: number
          format: double
          description: Destination latitude coordinate
        destinationLongitude:
          type: number
          format: double
          description: Destination longitude coordinate
        destinationAddress:
          type: string
          description: Destination address (optional)
        departureDate:
          type: string
          format: date-time
          description: Departure date/time (auto-set to current time)
          readOnly: true
        etaDate:
          type: string
          format: date-time
          description: Estimated time of arrival in ISO 8601 format (required, 24-hour format)
        bookingDate:
          type: string
          format: date-time
          description: Booking date and time in ISO 8601 format (optional)
        driverNumber:
          type: string
          description: "Driver unique number/ID for dropdown selection (optional) - backend will auto-fill driver details"
        driverName:
          type: string
          description: Driver name (auto-filled from driver record)
          readOnly: true
        driverMobile:
          type: string
          description: Driver mobile number (optional)
        driverContact:
          type: string
          description: Driver contact number (auto-filled from driver attributes)
          readOnly: true
        driverLicense:
          type: string
          description: Driver license number (auto-filled from driver attributes)
          readOnly: true
        driverId:
          type: integer
          format: int64
          description: Driver ID if linked to driver entity (optional)
        shipperName:
          type: string
          description: Shipper name (optional)
        shipmentId:
          type: string
          description: Unique shipment ID (optional)
        waybillNumber:
          type: string
          description: Waybill/LR number (optional)
        waybillExpiryDate:
          type: string
          format: date-time
          description: Waybill expiry date in ISO 8601 format (optional)
        waybillImage:
          type: string
          description: Path or URL to waybill image (optional)
        material:
          type: string
          description: Material type being transported (optional)
        otherMaterial:
          type: string
          description: Other material if "OTHERS" is selected (optional)
        invoiceNumber:
          type: string
          description: Invoice number (optional)
        invoiceQuantity:
          type: string
          description: Invoice quantity (e.g., in MT) (optional)
        lrGrNumber:
          type: string
          description: LR/GR number (optional)
        cardNumber:
          type: string
          description: Card number (optional)
        vehicleType:
          type: string
          description: Type of vehicle (optional)
        vehicleNumber:
          type: string
          description: Vehicle registration number (optional)
        currentLatitude:
          type: number
          format: double
          description: Current device latitude (transient - calculated from latest position)
          readOnly: true
        currentLongitude:
          type: number
          format: double
          description: Current device longitude (transient - calculated from latest position)
          readOnly: true
        currentSpeed:
          type: number
          format: double
          description: Current device speed (transient - from latest position)
          readOnly: true
        lastPositionUpdate:
          type: string
          format: date-time
          description: Last position update timestamp (transient)
          readOnly: true
        referencePositionId:
          type: integer
          format: int64
          description: Reference position ID (first position after departure)
        totalDistance:
          type: number
          format: double
          description: Total route distance in kilometers (origin to destination via ORS API)
          readOnly: true
        distanceCovered:
          type: number
          format: double
          description: Distance covered in kilometers (transient - origin to current position via ORS API)
          readOnly: true
        waypoint1:
          type: string
          description: First waypoint (optional)
        waypoint2:
          type: string
          description: Second waypoint (optional)
        tripStatus:
          type: string
          enum:
            - pending
            - running
            - completed
            - cancelled
          description: "Trip status: pending (not started), running (in progress), completed (finished), cancelled"
          readOnly: true
        completionDate:
          type: string
          format: date-time
          description: Actual trip completion timestamp (set when trip is marked as completed)
          readOnly: true
        completionLatitude:
          type: number
          format: double
          description: Final device latitude when trip was completed
          readOnly: true
        completionLongitude:
          type: number
          format: double
          description: Final device longitude when trip was completed
          readOnly: true
        completionNotes:
          type: string
          maxLength: 1000
          description: Notes or remarks added when completing the trip (optional)
        totalTripTimeMinutes:
          type: integer
          format: int64
          description: Total trip duration in minutes (from departure to completion)
          readOnly: true
        dataDelay:
          type: string
          description: Data delay information (auto-updated)
          readOnly: true
        deviceType:
          type: string
          description: Type of device - Permanent, Temporary (optional)
        ownMarket:
          type: string
          description: Own or Market vehicle (optional)
        sda:
          type: string
          format: date-time
          description: SDA (Scheduled Departure Actual) date (optional)
        deta:
          type: string
          format: date-time
          description: DETA (Destination Estimated Time Actual) date (optional)
        createdAt:
          type: string
          format: date-time
          description: Trip creation timestamp (auto-generated by backend)
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Trip last update timestamp (auto-generated by backend)
          readOnly: true
        attributes:
          type: object
          properties: {}
          description: Custom attributes for the trip (optional)
    VehicleDataRequest:
      type: object
      properties:
        company_names:
          type: string
          description: Comma-separated list of company names to filter vehicles (optional)
        vehicle_nos:
          type: string
          description: Comma-separated list of vehicle numbers to filter vehicles (optional)
        imei_nos:
          type: string
          description: Comma-separated list of IMEI numbers to filter vehicles (optional)
    VehicleDataResponse:
      type: object
      properties:
        root:
          type: object
          properties:
            VehicleData:
              type: array
              items:
                $ref: "#/components/schemas/VehicleData"
    VehicleData:
      type: object
      properties:
        Vehicle_Name:
          type: string
          description: Device name
        Company:
          type: string
          description: Company name from device attributes
        Temperature:
          type: string
          description: Device temperature
        heartbeat:
          type: string
          description: Heartbeat status
        Latitude:
          type: string
          description: Current latitude position
        GPS:
          type: string
          description: GPS status
        mcc:
          type: string
          description: Mobile Country Code
        cellid:
          type: string
          description: Cell tower ID
        lac:
          type: string
          description: Location Area Code
        Vehicle_No:
          type: string
          description: Vehicle registration number
        Door1:
          type: string
          description: Door 1 status
        elock:
          type: string
          description: Electronic lock status
        Door4:
          type: string
          description: Door 4 status
        Branch:
          type: string
          description: Branch from device attributes
        Vehicletype:
          type: string
          description: Vehicle type from device attributes
        Door2:
          type: string
          description: Door 2 status
        Door3:
          type: string
          description: Door 3 status
        course:
          type: string
          description: Movement direction/course
        GPSActualTime:
          type: string
          description: GPS fix time in format dd-MM-yyyy HH:mm:ss
        Datetime:
          type: string
          description: Last device update time in format dd-MM-yyyy HH:mm:ss
        Status:
          type: string
          description: Device status (online/offline)
        DeviceModel:
          type: string
          description: Device model
        Speed:
          type: string
          description: Current speed in km/h
        AC:
          type: string
          description: Air conditioning status
        mnc:
          type: string
          description: Mobile Network Code
        Imeino:
          type: string
          description: IMEI number (unique device identifier)
        gps_hdop:
          type: string
          description: GPS Horizontal Dilution of Precision
        Odometer:
          type: string
          description: Odometer reading
        POI:
          type: string
          description: Point of Interest
        Driver_Middle_Name:
          type: string
          description: Driver middle name from device attributes
        Longitude:
          type: string
          description: Current longitude position
        Immobilize_State:
          type: string
          description: Vehicle immobilization state
        IGN:
          type: string
          description: Ignition status
        satellite_count:
          type: integer
          description: Number of GPS satellites
        Driver_First_Name:
          type: string
          description: Driver first name from device attributes
        Angle:
          type: string
          description: Movement angle/course
        "Ibutton/RFID":
          type: string
          description: iButton or RFID identifier
        SOS:
          type: string
          description: SOS alarm status
        Fuel:
          type: array
          description: Fuel level readings
          items:
            type: string
        battery_percentage:
          type: integer
          description: Battery level percentage
        ExternalVolt:
          type: string
          description: External voltage reading
        Driver_Last_Name:
          type: string
          description: Driver last name from device attributes
        Power:
          type: string
          description: Power status
        username:
          type: string
          description: Username from device attributes
        Location:
          type: string
          description: Current address/location
        Altitude:
          type: string
          description: Current altitude
  parameters:
    entityId:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    all:
      name: all
      in: query
      description: Can only be used by admins or managers to fetch all entities
      schema:
        type: boolean
    refresh:
      name: refresh
      in: query
      schema:
        type: boolean
    userId:
      name: userId
      in: query
      description: Standard users can use this only with their own _userId_
      schema:
        type: integer
        format: int64
    deviceId:
      name: deviceId
      in: query
      description: Standard users can use this only with _deviceId_s, they have access to
      schema:
        type: integer
        format: int64
    groupId:
      name: groupId
      in: query
      description: Standard users can use this only with _groupId_s, they have access to
      schema:
        type: integer
        format: int64
    deviceIdArray:
      name: deviceId
      in: query
      style: form
      explode: true
      schema:
        type: array
        items:
          type: integer
          format: int64
    groupIdArray:
      name: groupId
      in: query
      style: form
      explode: true
      schema:
        type: array
        items:
          type: integer
          format: int64
    fromTime:
      name: from
      in: query
      description: in ISO 8601 format. eg. `1963-11-22T18:30:00Z`
      required: true
      schema:
        type: string
        format: date-time
    toTime:
      name: to
      in: query
[...]
